<header class="header-main">
  <div class="container"> 
    <div class="row">
      <div class="col-md-5 align-self-center">
        <h1 class="header-heading"> 
            <%= t('header.title') %> 
            <% if locale.to_s == 'en' %> 
              <br> 
              <span id="typed" 
              data-attrs='{
              "sexual": "<%= t('header.sexual') %>" ,
              "psychological": "<%= t('header.psychology') %>",
              "physical": "<%= t('header.physical') %>"
              }'
              class="underline"></span>
            
            <% else %>
              <span id="typed" 
              data-attrs='{
              "sexual": "<%= t('header.sexual') %>" ,
              "psychological": "<%= t('header.psychology') %>",
              "physical": "<%= t('header.physical') %>"
              }'
              class="underline"></span> 
            <% end %>
        </h1>

        <p id="header-text">
          <%= t("header.header_text") %>
        </p>
        <div class="header-button"> 
          <button class="btn btn-brown my-2 my-sm-0" type="submit">
            <%= t('header.book_now') %></button>
        </div>
      </div>

      <div class="col-md-7" style="padding: 0px !important">
        <div class="header-images"> 
        </div>
      </div>

      <div class="col-md-12" id="header-mid-text">
        <div class="overlay-text text-center"> 
          <h1 class="header-heading mobile-center"> 
            <%= t('modern_med.title') %></h1>
          <div class="text-center" id="header-mid">
            <p class="text"> 
              <%= t('modern_med.content') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- HEADER ENDS -->

<!-- SERVICES SECTION -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/care.svg')%>
        <h3> <%= t('services.care').html_safe %> </h3>
      </div>
      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/record.svg')%>
        <h3> <%= t('services.diagnosis').html_safe %> </h3>
      </div>

      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/trust.svg')%>
        <h3> <%= t('services.d_and_p').html_safe %>  </h3>
      </div>

      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/communication.svg')%>
        <h3> <%= t('services.contact').html_safe %> </h3>
      </div>
    </div>
  </div>
</section>
<!-- SERVICES SECTION ENDS -->

<!-- COLUMNS SECTION -->
<section id="sexual" class="scroll-animations">
  <div class="container">
    <div class="row flex-reverse-order-it">
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-orange"><%= t('section.sexual.heading').upcase %></span>
        </div>
        <h1 class="header-heading"> 
          <%= t('section.sexual.title').html_safe %>
        </h1>
        <ul class="points-orange">
          <li><%= t('section.sexual.point_1')%></li>
          <li>Ekspresowe testy chorób zakaźnych</li>
          <li>Planowanie szczepień niezbędnych dla utrzymania zdrowia(dospasowane do trybu życia)</li>
          <li>Szerroki zakres badań laboratoryjnych</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-orange my-2 my-sm-0" type="submit" style="margin-right: 10px"><%= t('section.book_now') %></button>
          <button class="btn btn-outline-orange my-2 my-sm-0" type="submit"><%= t('section.book_later') %></button>
        </div>
      </div>


      <div class="spacer s2"></div>
      <div id="trigger1" class="spacer s0"></div>


      <div class="col-md-6" id="reveal1">
        <div class="image-overlay-wrapper">
          <%= image_tag('sexual_image.png', id:"sexual_section_image", class: "img-fluid image-sections") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- COLUMNS SECTION ENDS -->

<section id="psychology">
  <div class="container">
    <div class="row">

      <div class="spacer s2"></div>
      <div id="trigger2" class="spacer s0"></div>

      <div class="col-md-6" id="reveal2">
        <div class="image-overlay-wrapper">
          <%= image_tag('psych_image.png', class: "img-fluid image-sections") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-yellow"><%= t('section.psychology.heading').upcase %></span>
        </div>
        <h1 class="header-heading"> 
          <%= t('section.psychology.title').html_safe %>  
        </h1>
        <ul class="points-blue">
          <li>Smart life couching - wsparcie w życiu zawodowym i prywatnym</li>
          <li>Depresja, zaburzenia osobowości</li>
          <li>Wypalenie zawodowe oraz egzystencjonalne</li>
          <li>Uzależnienia od aplikacji radkowych, narkotyków, alkoholu</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-yellow my-2 my-sm-0" type="submit" style="margin-right: 10px">
            <%= t('section.book_now') %>
        </button>
          <button class="btn btn-outline-yellow my-2 my-sm-0" type="submit">
            <%= t('section.book_later') %></button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- COLUMNS SECTION ENDS -->

<section id="physical">
  <div class="container">
    <div class="row flex-reverse-order-it">
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-red"><%= t('section.physical.heading').upcase %></span>
        </div>
        <h1 class="header-heading"> 
          <%= t('section.physical.title').html_safe %>
        </h1>
        <ul class="points-red">
          <li>Medyczna rewitalizacja organizmu  <br>(m. in. kroplówki witaminowe)</li>
          <li>Konsultacje z dietetykiem</li>
          <li>Praca z trenerem personalnym.</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-red my-2 my-sm-0" type="submit" style="margin-right: 10px"><%= t('section.book_now') %></button>

          <button class="btn btn-outline-red my-2 my-sm-0" type="submit"><%= t('section.book_later') %></button>
        </div>
      </div>

      <div class="spacer s2"></div>
      <div id="trigger3" class="spacer s0"></div>

      <div class="col-md-6" id="reveal3">
        <div class="image-overlay-wrapper image-sections">
          <%= image_tag('physical_image.png', class: "img-fluid image-sections") %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="boxes" class="scrolling-wrapper">
  <div class="container">
    <div class="row scrolling-wrapper">
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-red">
          <div class="box-content-red"> 
            <p class="box-text">
              Jak odpowiedzialnie dbać o swoje zdrowie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-red.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Jak odpowiedzialnie dbać o swoje zdrowie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-red">
          <div class="box-content-red"> 
            <p class="box-text">
              Profilaktyka poekspozycyjna - co to?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-red.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Czy zarażenie wiruseem HIV może dotyczyć również mnie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-yellow">
          <div class="box-content-yellow"> 
            <p class="box-text">
              Dlaczego warto dbać o swoje zdrowie psychiczne?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-yellow.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Co zrobić w przypadku ryzykownego kontaktu?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-yellow">
          <div class="box-content-yellow"> 
            <p class="box-text">
              Dlaczego warto dbać o swoje zdrowie psychiczne?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-yellow.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="images_section">
</section>

<section id="services_second">
  <div class="container">
    <h1 class="service_heading text-center"> 
      <%= t('section.section_second.heading') %>
    </h1>
    <div class="row">
      <div class="col-md-4 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/rainbow.svg')%>
        <h3> <%= t('section.section_second.lgbt').html_safe %></h3>
      </div>
      <div class="col-md-4 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/globe.svg')%>
        <h3> <%= t('section.section_second.global').html_safe %> </h3>
      </div>

      <div class="col-md-4 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/wheelchair.svg')%>
        <h3> <%= t('section.section_second.disable').html_safe %>  </h3>
      </div>
    </div>
  </div>
</section>