<header class="header-main">
  <div class="container"> 
    <div class="row">

      <div class="col-md-5 align-self-center">
        <h1 class="header-heading"> 
          Dbamy o Twoje <br> zdrowie <span id="typed" class="underline"></span>
        </h1>

        <p id="header-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris.
        </p>
        <div class="header-button"> 
          <button class="btn btn-red my-2 my-sm-0" type="submit">Umów wizytę</button>
        </div>
      </div>

      <div class="col-md-7" style="padding: 0px !important">
        <div class="header-images"> 
        </div>
      </div>

      <div class="col-md-12" id="header-mid-text">
        <div class="overlay-text text-center"> 
          <h1 class="header-heading mobile-center"> Medycyna otwarta na potrzeby współczesności</h1>
          <div class="text-center" id="header-mid">
            <p class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo morbi tempor tristique est augue a mauris amet. Ipsum justo id ut ornare fusce massa quis sed mauris. Suscipit vel, id cras vitae eros nunc nam vitae. In fringilla volutpat sollicitudin purus nulla lectus at leo. Quis turpis tellus imperdiet leo tellus eget. Volutpat cras tortor libero velit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- HEADER ENDS -->

<!-- SERVICES SECTION -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/care.svg')%>
        <h3> Kompleksowa <br> opieka </h3>
      </div>
      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/record.svg')%>
        <h3> Szybka <br> diagnoza </h3>
      </div>

      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/trust.svg')%>
        <h3> Dyskrecja <br> i profesjoonalizm </h3>
      </div>

      <div class="col-md-3 col-xs-6 text-center service-img outerbox">
        <%= image_tag('icons/communication.svg')%>
        <h3> Stały kontakt <br> z lekarzem prowadzacym </h3>
      </div>
    </div>
  </div>
</section>
<!-- SERVICES SECTION ENDS -->

<!-- COLUMNS SECTION -->
<section id="sexual">
  <div class="container">
    <div class="row flex-reverse-order-it">
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-orange">ZDROWIE SEKSUALNE</span>
        </div>
        <h1 class="header-heading"> 
          Dbaj o swoje<br>
          bezpieczństwo oraz<br>
          zdrowie swojego<br>
          partnera
        </h1>
        <ul class="points-orange">
          <li>Profilaktyka HIV (PrEP, PEP)</li>
          <li>Ekspresowe testy chorób zakaźnych</li>
          <li>Planowanie szczepień niezbędnych dla utrzymania zdrowia(dospasowane do trybu życia)</li>
          <li>Szerroki zakres badań laboratoryjnych</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-orange my-2 my-sm-0" type="submit" style="margin-right: 10px">Umów wizytę</button>
          <button class="btn btn-outline-orange my-2 my-sm-0" type="submit">Dowiedz się wizytę</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-overlay-wrapper">
          <%= image_tag('sexual_image.png', class: "img-fluid image-sections") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- COLUMNS SECTION ENDS -->

<section id="psychology">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="image-overlay-wrapper">
          <%= image_tag('psych_image.png', class: "img-fluid image-sections") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-blue">ZDROWIE PSYCHICZNE</span>
        </div>
        <h1 class="header-heading"> 
          Zapewnij sobie wsparcie <br>
          w trudnych sytuacjach  
        </h1>
        <ul class="points-blue">
          <li>Smart life couching - wsparcie w życiu zawodowym i prywatnym</li>
          <li>Depresja, zaburzenia osobowości</li>
          <li>Wypalenie zawodowe oraz egzystencjonalne</li>
          <li>Uzależnienia od aplikacji radkowych, narkotyków, alkoholu</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-blue my-2 my-sm-0" type="submit" style="margin-right: 10px">Umów wizytę</button>

          <button class="btn btn-outline-blue my-2 my-sm-0" type="submit">Dowiedz się wizytę</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- COLUMNS SECTION ENDS -->

<section id="physical">
  <div class="container">
    <div class="row flex-reverse-order-it">
      <div class="col-md-6">
        <div class="mobile-center m-25-top">
          <span class="text-muted text-red">ZDROWIE FIZYCZNE</span>
        </div>
        <h1 class="header-heading"> 
          Dopasuj zdrowa rutynę <br>
          do Twoich codziennych <br>
          wyzwań
        </h1>
        <ul class="points-red">
          <li>Medyczna rewitalizacja organizmu  <br>(m. in. kroplówki witaminowe)</li>
          <li>Konsultacje z dietetykiem</li>
          <li>Praca z trenerem personalnym.</li>
        </ul>
        <div style="display: flex; direction: column">
          <button class="btn btn-red my-2 my-sm-0" type="submit" style="margin-right: 10px">Umów wizytę</button>

          <button class="btn btn-outline-red my-2 my-sm-0" type="submit">Dowiedz się wizytę</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-overlay-wrapper image-sections">
          <%= image_tag('physical_image.png', class: "img-fluid image-sections") %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="boxes" class="scrolling-wrapper">
  <div class="container">
    <div class="row scrolling-wrapper">
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-red">
          <div class="box-content-red"> 
            <p class="box-text">
              Jak odpowiedzialnie dbać o swoje zdrowie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-red.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Jak odpowiedzialnie dbać o swoje zdrowie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-red">
          <div class="box-content-red"> 
            <p class="box-text">
              Profilaktyka poekspozycyjna - co to?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-red.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Czy zarażenie wiruseem HIV może dotyczyć również mnie?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-yellow">
          <div class="box-content-yellow"> 
            <p class="box-text">
              Dlaczego warto dbać o swoje zdrowie psychiczne?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-yellow.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-orange">
          <div class="box-content-orange"> 
            <p class="box-text">
              Co zrobić w przypadku ryzykownego kontaktu?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-orange.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 cardy">
        <div class="box box-yellow">
          <div class="box-content-yellow"> 
            <p class="box-text">
              Dlaczego warto dbać o swoje zdrowie psychiczne?
            </p>
          </div>
          <div class="second-part">
            <%= image_tag('icons/long-arrow-yellow.svg', class: 'white-arrow') %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

