<!DOCTYPE html>
<html>
  <head>
    <title>Smartlifeclinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <title>Smart Life Clinic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    
    <%= yield %>
    
    <%= render 'layouts/footer' %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script>
    var typed4 = new Typed('#typed', {
      strings: ['seksualne', 'psychiczne', 'fizyczne'],
      typeSpeed: 70,
      backSpeed: 40,
      bindInputFocusEvents: true,
      loop: true,
      smartBackspace: true 
    });
  </script>
  </body>
</html>
