<!DOCTYPE html>
<html>
  <head>
    <title>Smart Life Clinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'dashboard/styles', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/dashboard/navbar' %>
      
      <%= yield %>
    </div>
  </body>
</html>
